<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.spring_mymatis_config.standalone_mybatis.MapperInterface">
    <select id="selectFirst10" resultType="Employee">
        select * from employees limit 10;
    </select>


    <select id="selectById" resultType="Employee">
        select *
        from employees
        where emp_no = #{id};
    </select>
</mapper>